################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/git-test-project/.vs/git-test-project/v16/Server/sqlite3
